@charset "utf-8";
/*Formatando a Página galeria.html*/
*{
	box-sizing:border-box;/*Inclui o tamanho padding e a propriedade border*/
}
body{
	margin:0;
	font-family:Arial;
	background-color:#111;
}
.texto{
	color:white;
}
.header{
	text-align:center;
	padding:32px;
	color:white;
}
.linha{
	display:flex;
	flex-wrap:wrap;
	padding:0 4px;
}
.coluna{
	flex:25%;
	max-width:25%;
	padding:0 4px;
}
.coluna img{
	margin-top:8px;
	vertical-align:middle;
	opacity:0.6;
}
img:hover{
	-moz-transform:scale(1.2);/*Navegador Mozilla Firefox*/
	-webkit-transform:scale(1.2);/*Navegador Google Chrome, Internet explorer e Edge*/
	transform:scale(1.1);/*Outros navegadores*/
	transition-duration:0.5s;
	opacity:1;
}
/*Responsividade*/
/*Definindo dispositivos de 601px até 800px*/
@media(max-width:800px){
	.coluna{
		flex:50%;
		max-width:50%
	}
}
/*Definindo dispositivos até 600px*/
@media (max-width:600px){
	.coluna{
		flex:100%;
		max-width:100%;
	}
}